*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.pls-color{
    color: yellow;
    font-weight: 900;   
}
.logo p{
    color: white;
    position: relative;
    top: -5px;
}
.search{
    background-color: white;
    padding:8px;
    width: 420px;
    margin: 0px 15px;
    display: flex;
    justify-content:space-between
    color:#2874f0;
    border-radius: 2px;
}
.search i{
    margin-left: 100px;
}
.search input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 14px;
}
.loginbtn{
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    outline: none;
    color: #2874f0;
}
.navlink{
    margin: 0px 20px;
    font-size: 18px ;
    color: white;
    text-decoration: none;
}
.adi i{
    font-size: 10px;
}
.adi:hover .moreicon{
    transition:0.5s;
    transform: rotate(-180deg);
}
.moreopt-container{
    position: relative;
    height: 1px;
    display: none;

}
.moreopt-content{
    position: absolute;
    margin-top: 20px;
    width: 300px;
    margin-left: -110px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: black;
    border-radius: 5px;
}
.moreopt{
    display: flex;
    display: flex;
    align-items: center;
}
.moreopt i{
    font-size: 15px;
    color: #2874f0;
}
.moreopt p{
    padding: 15px;
}
.adi:hover .moreopt-container{
    display: block;
}


